html, body {
  position: relative;
  height: 100%;
}
body {
  font-size: 16px;
  font-family: 'roboto_light', sans-serif;
  /*font-family: 'Indie Flower', cursive;*/
}

#first-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/bouquet_wedding_stairs_107146_1920x1080.jpg") no-repeat 0 0;
}
#first-screen::before {
  display: block;
  content: '';
  background: #000;
  opacity: .25;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#first-screen .navigation {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navigation ul.nav-menu {
  padding: 0;
  margin: 0;
}
ul.nav-menu li.nav-item {
  display: inline-block;
  float: left;
  background: #ffffff;
  opacity: .9;
}
ul.nav-menu li.nav-item:hover {
  background: #F7ACD3;
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
ul.nav-menu li.nav-item:hover a.nav-link {
  color: #fff;
}
li.nav-item a.nav-link {
  display: block;
  font-size: 18px;
  padding: 0 20px;
  color: #F7ACD3;
  text-transform: uppercase;
}
ul.nav-menu li.nav-item.accent-link {
  opacity: 1;
  background: #F7ACD3;
}

ul.nav-menu li.nav-item.accent-link a.nav-link {
  color: #fff;
}

.headblock {
  padding-top: 100px;
  color: #fff;
  text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);;
}
.headblock h1 {
  font-size: 48px;
  margin-bottom: 24px;
}
.headblock p {
  font-size: 24px;
}


.section {
  padding: 30px;
  padding-bottom: 60px;
  /*margin-bottom: 50px;*/
}


/*ABOUT ME*/
section#aboutme {
  width: 100%;
  /*height: 700px;*/
}
.section-title {
  font-family: 'roboto', sans-serif;
  margin-bottom: 50px;
  text-align: center;
}
.section-title h2 {
  display: inline-block;
  border-bottom: 2px solid #f7acd3;
  padding: 10px;
}

.me-avatar {
  max-width: 75%;
  max-height: 75%;
}
.me-text {
  margin-top: 50px;
}


section#social {
  background: #f7acd3;
  padding: 30px;
}

.social-icon a {
  display: inline-block;
  /*font-size: 42px;*/
  color: #ffffff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.social-icon a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.card {
  display: inline-block;
  width: 100%;
  min-height: 300px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.card-title {
  font-family: 'roboto', sans-serif;
  margin-bottom: 50px;
  /*color: #f7acd3;*/
}
.card-body {
  margin-bottom: 50px;
  height: 200px;
}
.card-body ul li {
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 1px solid #333;
}
.card-price {
  font-family: 'roboto_black';
  padding: 10px;
}
.card-price .coins {
  font-size: 24px;
}
.card:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.card.active {
  background: #f7acd3;
  color: #fff;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.card.active .card-body ul li {
  border-bottom: 1px solid #fff;
}

section#discount {
  /*border: 5px solid #f7acd3;*/
}
.discount-card {
  display: block;
  border: 2px solid #f7acd3;
}
.discount-card.active {
  background: #f7acd3;
  color: #fff;
}

.discount-amount {
  font-size: 50px;
  font-family: 'roboto_black';
}